<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :'correo' %><br />
    <%= f.email_field :email  %>
  </div>

  <div class="field">
    <%= f.label :'contraseña' %>
    <% if @minimum_password_length %>
    <em>(mínimo <%= @minimum_password_length %> caracteres )</em>
    <% end %><br />
    <%= f.password_field :password  %>
  </div>

  <div class="field">
    <%= f.label :'confirmar contraseña' %><br />
    <%= f.password_field :password_confirmation  %>
  </div>

  <div class="actions">
    <%= f.submit "Ingresar", class: "btn btn-primary"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
