<br> 	
 <div class="row"> 
	<div class="col-md-5">
		<%= egreso.fecha_egreso.strftime("%d/%m/%Y")  %>
	</div>
	<div class="col-md-5">
		<% nombre_archivo = egreso.documento.filename.to_s if egreso.documento.attached?  %>
        <%= link_to nombre_archivo.truncate(25), egreso.documento, target: '_blank' if egreso.documento.attached?  %>
	</div>

	<div class="col-md-1">
		<%= link_to edit_interno_egreso_path(@interno, egreso), class: "btn alert-info", local: true  do %>
			 <%= fa_icon 'file' %>
		<% end %>
	</div>
	<div class="col-md-1">
		<%= link_to interno_egreso_path(@interno, egreso), method: :delete, data:{ confirm: '¿Confirma eliminar el registro?'}, class: "btn alert-danger"  do %>
			<i><%= fa_icon 'trash'  %></i>
		<% end %>
	</div>
</div>

 