<div class="container-interno">
	<%= form_with(model: [ @interno, ingreso ], local: true) do |form| %>
		<div class="row">
			<div class="col-md-4">
				<%= form.label :'fecha_hora' %>:&nbsp;
				<%= form.date_field :fecha_hora, class:"form-control" %>
			</div>
			<div class="col-md-4">
				<%= form.label :referido_institucion %>:&nbsp;
				<%= form.check_box :referido_institucion, class: "form-control" %>
			</div>
			<div class="col-md-4">
				<%= form.label :institucion_referencia %>:&nbsp;
				<%= form.text_field :institucion_referencia, class: "form-control" %>
			</div>
		</div><br>
		<div class="row">
		<div class="col-md-4">
			<%= form.label :hoja_referencia %>:&nbsp;
			<%= form.check_box :hoja_referencia, class: "form-control" %>
		</div>
		<div class="col-md-4">
			<%= form.label :tipo_ingreso %>:&nbsp;
			<%= form.text_field :tipo_ingreso, class:"form-control", placeholder:'Observaciones' %>
		</div>
		<div class="col-md-4">
			<%= form.label :motivo_ingreso %>:&nbsp;
			<%= form.text_field :motivo_ingreso, class:"form-control", placeholder:'Observaciones' %>
		</div>
		</div>
		<div class="row">
		<div class="col-md-4">
			<%= form.label :descripcion_estado_salud %>:&nbsp;
			<%= form.text_area :descripcion_estado_salud, class: "form-control" %>
		</div>
		<div class="col-md-4">
			<%= form.label :hombre %>:&nbsp;
			<%= form.check_box :hombre, class:"form-control", placeholder:'Observaciones' %>
		</div>
		<div class="col-md-4">
			<%= form.label :mayor_edad %>:&nbsp;
			<%= form.check_box :mayor_edad, class:"form-control", placeholder:'Observaciones' %>
		</div>
		</div>
		<div class="row">
		<div class="col-md-4">
			<%= form.label :dependencias %>:&nbsp;
			<%= form.check_box :dependencias, class: "form-control" %>
		</div>
		<div class="col-md-4">
			<%= form.label :consecuencias %>:&nbsp;
			<%= form.check_box :consecuencias, class:"form-control", placeholder:'Observaciones' %>
		</div>
		<div class="col-md-4">
			<%= form.label :transtorno_mental %>:&nbsp;
			<%= form.check_box :transtorno_mental, class:"form-control", placeholder:'Observaciones' %>
		</div>
		</div>
		<div class="row">
		<div class="col-md-4">
			<%= form.label :cumple %>:&nbsp;
			<%= form.check_box :cumple, class: "form-control" %>
		</div>
		<div class="col-md-4">
			<%= form.label :consecuencias %>:&nbsp;
			<%= form.check_box :consecuencias, class:"form-control", placeholder:'Observaciones' %>
		</div>
		<div class="col-md-4">
			<%= form.label :referirlo %>:&nbsp;
			<%= form.check_box :referirlo, class:"form-control", placeholder:'Observaciones' %>
		</div>
		</div>
		<div class="row">
		<div class="col-md-4">
			<%= form.label :nombre_entrevistador %>:&nbsp;
			<%= form.text_field :nombre_entrevistador, class: "form-control" %>
		</div>
		<div class="col-md-4">
			<%= form.label :cargo_entrevistador %>:&nbsp;
			<%= form.text_field :cargo_entrevistador, class:"form-control" %>
		</div>	 
		</div>
		<br>
		<div class="row">
			<%= form.submit  class: "btn alert-primary form-control" %>
		</div>
	<% end %>

</div>