<div class="container-interno">
<%= form_with(model: interno, local: true) do |form| %>
  <% if interno.errors.any? %> 
    <% interno.errors.full_messages.each do |message| %>
       <%= js add_gritter(message, :title => "Internos.", :sticky => false,  :class_name => "custom_error") %>
    <% end %>
  <% end %>

<div class="row">
  <div class="col-md-4">Nombre <%= form.text_field :nombre, class: "form-control" %></div>
  <div class="col-md-4">Apellido Paterno <%= form.text_field :ap_paterno, class: "form-control" %></div>
  <div class="col-md-4">Apellido Materno <%= form.text_field :ap_materno, class: "form-control" %></div>
</div>

<div class="row">
  <div class="col-md-6">Fecha de Nacimiento <%= form.date_field :fecha_nacimiento, class: "form-control" %></div>
  <div class="col-md-6">
        <%= form.label :sexo %>:&nbsp;
        <%= form.select(:sexo, ['Masculino','Femenino', 'Otro'], { include_blank: true }, { class: 'form-control' }) %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">Calle <%= form.text_field :calle, class: "form-control" %></div>
  <div class="col-md-2">Número exterior <%= form.text_field :numero, class: "form-control" %></div>
  <div class="col-md-2">Número interior <%= form.text_field :interior, class: "form-control" %></div>
  <div class="col-md-4">Colonia <%= form.text_field :colonia, class: "form-control" %></div>
</div>

<div class="row">
  <div class="col-md-4">Municipio <%= form.text_field :municipio, class: "form-control" %></div>
  <div class="col-md-4">Estado <%= form.text_field :estado, class: "form-control" %></div>
  <div class="col-md-4">Código Postal <%= form.text_field :codigo_postal, class: "form-control" %></div>
</div>

<div class="row">
  <div class="col-md-4">Teléfono Fijo <%= form.text_field :telefono_fijo, class: "form-control" %></div>
  <div class="col-md-4">Teléfono Celular <%= form.text_field :telefono_celular, class: "form-control" %></div>
  <div class="col-md-4">Teléfono recados <%= form.text_field :telefono_otro, class: "form-control" %></div>
</div>

<div class="row">
  <div class="col-md-3">Nacionalidad <%= form.text_field :nacionalidad, class: "form-control" %></div>
  <div class="col-md-3">Estado Civil <%= form.text_field :estado_civil, class: "form-control" %></div>
  <div class="col-md-3">Escolaridad <%= form.text_field :escolaridad, class: "form-control" %></div>
  <div class="col-md-3  ">Ocupación <%= form.text_field :ocupacion, class: "form-control" %></div>
</div>

<div class="row">
  <div class="col-md-4">¿Cuenta con servicio médico?&nbsp;<%= form.check_box :servicio_medico  %></div>
  <div class="col-md-8">número de afiliación:&nbsp;<%= form.text_field :num_afiliacion, class: "form-control" %></div>
</div>

  <br>
 
  <div class="actions">
    <p><%= form.submit "Guardar", class: "form-control btn alert-primary" %></p>
    <p><%= link_to 'Cancelar', internos_path, class: "form-control btn alert-danger" %></p>
  </div>
 
<% end %>

</div>
 