 <div class="container-interno">
 	<p>
		<strong>Interno:</strong>
		<strong><%= @interno.nombre.capitalize + ' ' + @interno.ap_paterno.capitalize + ' ' + @interno.ap_materno.capitalize %></strong>
		<%= link_to 'Editar', edit_interno_path(@interno), class: "btn alert-success" %>
		<%= link_to 'Regresar', internos_path, class: "btn alert-danger" %>
	</p>

	<a class="btn alert-primary form-control" data-toggle="collapse" href="#ingresos" role="button" aria-expanded="false" aria-controls="ingresos">Ingresos</a>
	<div class="collapse multi-collapse" id="ingresos">
		<% if @interno.ingresos.any? %>
			<%= render @interno.ingresos.order(fecha_hora: :asc) %>
		<% end %>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#agregarTratamiento" aria-expanded="false" aria-controls="agregarTratamiento">
    		Agregar Ingreso
  		</button>
	 
		<div class="collapse" id="agregarTratamiento">
  			<div class="card card-body">
    			<%= render 'ingresos/form', ingreso: @interno.ingresos.build %>	
  			</div>
		</div>

	</div>
	
 <hr>
 	<a class="btn alert-secondary form-control" data-toggle="collapse" href="#parientes" role="button" aria-expanded="false" aria-controls="parientes">Familiares</a>
	<div class="collapse multi-collapse" id="parientes">
		<% if @interno.parientes.any? %>
			<%= render @interno.parientes.order(id: :asc) %>
		<% end %>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#agregarPariente" aria-expanded="false" aria-controls="agregarPariente">
    		Agregar Familiar
  		</button>
	 
		<div class="collapse" id="agregarPariente">
  			<div class="card card-body">
    			<%= render 'parientes/form', pariente: @interno.parientes.build %>	
  			</div>
		</div>
	</div>

<hr>	

<a class="btn alert-info form-control" data-toggle="collapse" href="#tratamientos" role="button" aria-expanded="false" aria-controls="tratamientos">Tratamientos</a>
	<div class="collapse multi-collapse" id="tratamientos">
		<% if @interno.tratamientos.any? %>
			<%= render @interno.tratamientos.order(fecha_inicio: :asc) %>
		<% end %>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#agregarTratamiento" aria-expanded="false" aria-controls="agregarTratamiento">
    		Agregar Tratamiento
  		</button>
	 
		<div class="collapse" id="agregarTratamiento">
  			<div class="card card-body">
    			<%= render 'tratamientos/form', tratamiento: @interno.tratamientos.build %>	
  			</div>
		</div>
	</div>
<hr>

<a class="btn alert-warning form-control" data-toggle="collapse" href="#egresos" role="button" aria-expanded="false" aria-controls="egresos">Egresos</a>
	<div class="collapse multi-collapse" id="egresos">
		<% if @interno.egresos.any? %>
			<%= render @interno.egresos.order(fecha_egreso: :asc) %>
		<% end %>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#agregarEgreso" aria-expanded="false" aria-controls="agregarEgreso">
    		Agregar Egreso
  		</button>
	 
		<div class="collapse" id="agregarEgreso">
  			<div class="card card-body">
    			<%= render 'egresos/form', egreso: @interno.egresos.build %>	
  			</div>
		</div>			 	
	</div>
<hr>

<a class="btn alert-success form-control" data-toggle="collapse" href="#examenes" role="button" aria-expanded="false" aria-controls="examenes">Exámenes</a>
	<div class="collapse multi-collapse" id="examenes">
		 
		<h4>Agregar exámen:</h4>
	</div>

<hr>

<a class="btn alert-dark form-control" data-toggle="collapse" href="#responsables" role="button" aria-expanded="false" aria-controls="responsables">Responsables</a>
	<div class="collapse multi-collapse" id="responsables">
		 
		<h4>Agregar Responsables:</h4>
		 
	</div>
<hr>

<a class="btn alert-danger form-control" data-toggle="collapse" href="#documentos" role="button" aria-expanded="false" aria-controls="documentos">Documentos</a>
	<div class="collapse multi-collapse" id="documentos">
		 
		<h4>Documentos:</h4>
		<p><%= link_to 'Generar Hoja Ingreso', ultimo_ingreso_path(@interno, format: :pdf), class: "btn btn-outline-success", target: "_blank" %>
		<p><%= link_to 'Generar Hoja Egreso', ultimo_egreso_path(@interno, format: :pdf), class: "btn btn-outline-primary", target: "_blank" %>
		 
	</div>
</div>